<h1>Austronauts Index</h1>

<p>Average age: <%= @average_age %></p>

<% @astronauts.each do |astronaut| %>
<h3><%= astronaut.name %></h3>
<ul>
<li><%= astronaut.age %></li>
<li><%= astronaut.job %></li>
</ul>
<% end %>
